<%= form_with local:true, url: '/login' do |form| %>
    <div class="field">
        <%= form.label "username", style: "width: 75px" %>
        <%= form.text_field :username %>
    </div>
    <div class="field">
        <%= form.label "password", style: "width: 75px" %>
        <%= form.password_field :password_hash %>
    </div>
    <p>Don't have an account? <%= link_to "Sign Up!", "/users/new", method: :get, style: "text-decoration: none" %><p>
    <div class="actions">
        <%= form.submit "Log In", class: "btn btn-outline-primary" %>
    </div>
<% end %>